@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-kumbh-sans);
}

@theme {
  --color-invest: #f73760;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-top-t {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, hsla(233, 28%, calc(19% - 5%), calc(100% - 20%)) 100%), url('/image/hero-image-3.jpg');
}
.bg-top-t-2 {
  background-image: linear-gradient(rgb(15 30 54) 0%, #0f172bf2 100%), url('/image/top-bg-1.svg');
}
.u-cover-absolute {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
  z-index: -1;
  background-image: url('/image/grid.svg');
  background-position: 0 0;
  background-size: auto;
  height: 50%;
  -webkit-mask-image: linear-gradient(#0000 0%, #fff 0% 0%, #0000 100%);
  mask-image: linear-gradient(#0000 0%, #fff 0% 0%, #0000 100%);
}

.swiper-pagination-bullet-active {
  background: #f73760!important;
}
.swiper-button-next, .swiper-button-prev{
  color: #f73760!important;
}